.colorDegraded {
    color: rgb(233, 109, 118);
}

.colorProgressing {
    color: rgb(13, 173, 234);
}

.colorHealthy {
    color: rgb(24, 190, 148);
}

.colorSuspended {
    color: rgb(118, 111, 148);
}

.colorMissing {
    color: rgb(244, 192, 48);
}

.colorUnknown {
    color: rgb(204, 214, 221);
}

.colorSynced {
    color: rgb(24, 190, 148);
}

.colorOutOfSync {
    color: rgb(244, 192, 48);
}
